*.log
.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
airflow-k8s-only/airflow-infra/k8s/base/git-sync-secret.yaml
airflow-k8s-only/airflow-infra/k8s/base/secret.yaml
k8s/base/git-sync-secret.yaml
k8s/base/secret.yaml
